.footer {
    display: flex;
    background-color: #8B0000;
    color: #FFFEAD;
    padding: 20px;
    text-align: center;
    outline: none;
    border: none;
    text-decoration: none;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.footer .menu a {
    color: #FFFEAD;
    font-weight: bold;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}

.footer .menu a:hover {
    text-decoration: underline;
}

.footer .logo {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerOne {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer .logo-image {
    max-width: 22%;
    height: auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.footerbawah {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.footerKiri, .social-media {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
}

.footerKiri {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-left: 1%;
}

.footerKiri p {
    max-width: 85%;
}

.footer .links a {
    color: #FFFEAD;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer .links span {
    color: #FFFEAD;
}

.footer .copyright {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
}

.social-media {
    text-align: right;
    margin-right: 1%;
}

.social-media .social-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    text-align: right;
}

.social-media-logo {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.social-media-logo .circle {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #FFFEAD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFEAD;
    transition: all 0.3s ease-in-out;
}

.social-media-logo .circle:hover {
    background-color: #FFFEAD;
    color: #8B0000;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer .logo-image {
        max-width: 50%;
    }

    .footerOne {
        width: 100%;
    }

    .footerbawah {
        flex-direction: column;
        align-items: center;
    }

    .footerKiri, .social-media {
        text-align: center;
    }

    .footerKiri p {
        max-width: 100%;
    }

    .social-media {
        text-align: center;
        margin-right: 0;
    }

    .social-media .social-title {
        text-align: center;
    }

    .social-media-logo {
        justify-content: center;
    }

    .footer .copyright {
        width: auto;
    }
}
