body {
    background-color: #333333;
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.now-playing-container,
.upcoming-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.now-playing-container {
    margin-bottom: 5%;
}

.carousel-container {
    padding-top: 100px;
    padding-bottom: 50px;
    background: linear-gradient(to bottom, #141414 75%, #333 100%);
}

.movies-container {
    width: 100%;
    margin-top: 20px;
}

.movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 20px; /* Spacing between items */
    justify-items: center; /* Center the items horizontally */
    width: 100%;
    padding: 0; /* Remove any additional padding */
    box-sizing: border-box; /* Ensure it respects container width */
}

.movie-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.movie-card {
    padding: 20px;
    transition: transform 0.3s ease; /* Smooth transition on hover */
}

.movie-image {
    width: 100%; /* Use 100% to make the image take up the full width */
    height: auto;
    max-width: 100%; /* Ensure it doesn't overflow */
    border-radius: 25px;
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for shrink and darken effects */
}

/* Hover effect for the movie image */
.movie-container:hover .movie-image {
    transform: scale(0.95); /* Shrink the image */
    filter: brightness(0.5); /* Darken the image */
}

.movie-title {
    font-size: 20px; /* Increase font size of the title */
    font-weight: 600;
    margin-bottom: 10px;
}

.movie-rating {
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 5px; /* Space between title and rating */
}

.movie-rating[class*="D 17+"] {
    background-color: #b0181c;
}

.movie-rating[class*="R 13+"] {
    background-color: #2a5489;
}

.movie-rating[class*="SU"] {
    background-color: #4caf50;
}

.title {
    font-weight: 700;
    font-size: 48px;
    margin: 10px;
    text-transform: uppercase;
}

.title-with-arrow {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.title-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underline from link */
    color: white; /* Initial color for the text */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.arrow {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid #ffffff; /* Arrow color */
    margin-right: 10px; /* Space between arrow and text */
    transition: border-left 0.3s ease, transform 0.3s ease; /* Smooth transition for hover */
}

.title-link:hover .title,
.title-link:hover .arrow {
    color: #b0181c; /* Change text color to red */
}

.title-link:hover .arrow {
    border-left: 20px solid #b0181c; /* Change arrow color to red */
    transform: rotate(90deg); /* Maintain the 90-degree rotation on hover */
}

.see-more-btn {
    background-color: #b0181c;
    color: white;
    border: none;
    padding: 12px 24px; /* Larger padding */
    border-radius: 15px; /* Rounded rectangle */
    font-size: 18px; /* Larger font size */
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin: 20px auto; /* Centers the button */
    width: 200px; /* Adjust width */
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
}

.see-more-btn:hover {
    background-color: #d62828;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.see-more-btn:focus {
    outline: none;
}

.hidden {
    display: none;
}

.remaining-movies {
    margin-bottom: 10%;
}
