:root {
    --red: #b0181c;
    --yellow: #fcc252;
}

* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    color: whitesmoke;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.navbar {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #e0e0e0bf, black);
    padding: 30px 48px;
    z-index: 1000;
}

.navbar:hover {
    background-color: rgba(245, 245, 245, 0.9);
    transition: background-color 0.3s, color 0.3s;
}

.navbar .logo img {
    /* margin-top: 2%; */
    width: 20%;
}

.navbar .menu {
    display: flex;
}

.navbar .menu a {
    text-decoration: none;
    margin: 0 15px;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
}

.navbar .menu a {
    transition: color 0.3s ease;
}

.navbar .menu a:hover {
    color: var(--red);
}

.navbar .login {
    background-color: var(--red);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .login:hover {
    background-color: whitesmoke;
    color: var(--red);
    border: 2px solid var(--red);
}

.login-box p {
    margin-top: 3%;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    /* font-weight: 500; */
}

.login-box a {
    outline: none;
    border: none;
    text-decoration: none;
    color: #fffead;
}

.greeting-container {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

.greeting {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap; /* Prevents wrapping to a new line */
    color: #b0181c;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    display: none;
    width: 150px;
    border-radius: 4px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #007bff;
}

.greeting-container:hover .dropdown {
    display: block;
}
